.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.home a {
    width: 30%;
    text-decoration: none;
}

.resume {
    font-family: 'Playwrite PE';
    margin-top: 2rem;
    width: 100%;
    height: 3.5rem;
    font-size: 1rem;
    border-radius: 1.2rem;
    background-image:
        linear-gradient(to right, #e55d5d 0%, #5f61e4 51%, #e55dd7 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
}

.resume:hover {
    scale: 1.05;
    background-position: right center;
}

.intro h1 {
    text-align: center;
}

.grt {
    font-family: "Playwrite IT Moderna", cursive;
    font-size: 2rem;

}

.name {
    font-size: 6rem;
    font-family: "Playwrite PE", cursive;
    background:
        linear-gradient(to right, #ff1e1e, #4352ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.abt {
    font-family: monospace;
    text-align: center;
    line-height: 2rem;
}

.mainImg {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .home {
        grid-template-columns: auto;
    }
}